doctype html
html
  head
    title Lista de Plantas
    link(rel='stylesheet', href='/stylesheets/w3.css')
    script(src="/javascripts/jquery-3.6.4.min.js")
    script(src="/javascripts/script.js")
  body
    block content